#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
  text-align: center;
}

h1:hover {
  cursor: pointer;
}

@media (max-width: 768px) {
  .reset-button {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (min-width: 768px) {
  .reset-button {
    margin-top: 45px;
  }
}
